.card {
  margin-top: 10vh;
  background-color: #7858a6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
}
.logo {
  margin: 5vh 0 5vh 0;
  font-size: calc((100vw - 20rem) / 20);
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 600px) {
  .logo {
    font-size: 7vw;
  }
  .card {
    margin-top: 0;
    border-radius: 0px;
    overflow: auto;
    min-height: 100%;
  }
}
