main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11.5vh;
}
hr {
  width: 100%;
  background-color: var(--red);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 300px;
  width:100%;
}
.body-container {
  display: flex;
  gap:1vh;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}
.sub {
  margin: 3vh;
  border-radius: 20px;
  border: 1px solid var(--red);
  display: flex;
  flex-direction: column;
  min-width: 30vh;
  min-height: 20vh;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sub-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center right;
}
.sub:hover .sub-main {
  transform: translateX(-100%) rotateY(-180deg);
}
.sub-title {
  background-color: var(--red);
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 50px;
  font-size: 3vh;
}
.card__face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3vh 0 3vh 0;
  font-size: 2vh;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card__face--front {
  transform: rotateX(0deg);
}

.card__face--back {
  transform: rotateX(0deg);
  transform: rotateY(180deg);
}

@media (max-width: 765px) {
  hr {
    width: 90%;
  }
}
