.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.logo {
  display: flex;
  justify-content: center;
}

.icon {
  width: 15px;
  height: 15px;
}

.input {
  font-size: 1rem !important;
  width: 80% !important;
  height: 50px !important;
  padding-left: 1vh !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  transition: 0.1s ease-in !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}
.input::placeholder {
  color: white;
}
.input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid var(--red) !important;
}
.input:focus .icon {
  width: 15px;
  height: 15px;
}

.submit {
  width: 80%;
  height: 50px;
  color: black;
  border-radius: 20px;
  background-color: var(--red);
  border: 1px solid var(--red);
  transition: 0.1s ease-in;
}
.submit:hover {
  border: 1px solid white;
}

.message {
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(255, 65, 97);
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hr-line {
  margin-top: 50px;
  width: 90%;
  border: 1px solid white;
}
.card-row > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
}
