.mainContentContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent {
  align-self: center;
  width: 95%;
  overflow: hidden;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0f172a;
  border-radius: 1%;
}
.mainContentTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 5%;
  font-size: 2.5vw;
  font-weight: 900;
  /* background-color: red; */
}
.container {
  /* box-shadow: 10px 10px 50px black; */
  border-radius: 20px;
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
